@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board{
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  position: relative;
}

.btn{
  font-weight: bold;
  font-size: 30px;
  background-color: rgb(69, 75, 113);
  color: white;
  border-radius: 10%;
  
}


.winner-text{
  font-weight: bold;
  font-size: 30px;
}

.winners-text-container{
  display: flex;
  flex-direction: row;
}

.count-win-text{
  margin: 12px;
}

